.brand-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include mq(lg) {
    margin-right: 10px;
  }
  @include mq(xl) {
    margin-right: 40px;
  }
  .imgLogo {
    width: 120px;
  }
}
