.main-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $xlarge;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 20px;
  width: 100%;
  @include mq(lg) {
		.btn-menu {
      display: none;
    }
	}

  // /* 600px a 999px */
  // @media all and (min-width: $break-phone) and (max-width: $break-desktop - 201) {
  //   padding-left: 30px;
  // }
  // /* 320px a 599px */
  // @media all and (max-width: $break-phone - 1) {
  //   padding: 0 20px;
  // }
  // .main-btnMenu {
  //   display: none;
  //   /* 320px a 599px */
  //   @media all and (max-width: $break-phone - 1) {
  //     display: block;
  //   }
  // }
}
