.nav-bar {
  display: flex;
  font-size: 1.4rem;
  height: 100%;
  @include mq(lg) {
    display: inline-flex;
    width: 100%;
  }
  > .menu {
      position: absolute;
      display: block;
      background-color: $color-primary-dark;
      width: 240px;
      height: auto;
      top: 60px;
      right: 0;
      font-weight: 500;
      line-height: 5rem;
      padding: 10px 20px;
      transform: translateX(200%);
      transition: transform 500ms linear;
      z-index: 10;
      &.menu-open {
        transform: translateX(0);
        transition: transform 500ms linear;
        visibility: visible;
      }
      @include mq(lg) {
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        transform: translateX(0);
        width: 100%;
        top: 0;
        background-color: $color-zero;
      }
      > .item {
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
        &.-mobile {
          border-bottom: 1px solid rgba($color-zero,0.5);
          padding-bottom: 0.5em;
          margin-bottom: 1em;
        }
        &.-desktop {
          display: none;
        }
        &.-contact {
          position: relative;
          cursor: pointer;
          &:before {
            content: "";
            position: relative;
            background: url(../img/phone-mobile.svg);
            background-repeat: no-repeat;
            background-position: center;
            padding: 12px;
            margin-right: 12px;
            @include mq(lg) {
              background: url(../img/phone-desktop.svg);
              background-repeat: no-repeat;
              background-position: center;
            }
          }
          .btn-ligue {
            .ligue {
              display: none;
            }
            .phone {
              font-family: inherit;
              font-size: 2.2rem;
              font-weight: bold;
            }
            @include mq(lg) {
              position: absolute;
              display: none;
              background-color: $color-zero;
              color: $color-primary-medium;
              width: 200px;
              line-height: 2.5rem;
              top: 40px;
              right: 0;
              padding: 10px 20px;
              border: 1px $color-medium solid;
              box-shadow: 5px 5px 10px $color-medium;
              .ligue {
                display: block;
                color: $color-medium;
                text-transform: uppercase;
                text-align: center;
              }
            }
          }
          @include mq(lg) {
            &:hover {
              .btn-ligue {
                display: block;
              }
            }
            &:hover:before {
              background: url(../img/phone-hover.svg);
              background-repeat: no-repeat;
              background-position: center;
            }
          }

        }
        @include mq(lg) {
          position: relative;
          width: auto;
          padding-right: 20px;
          line-height: 15px;
          &.-mobile {
              display: none;
          }
          &.-desktop {
              display: block;
              margin-left: auto;
              text-align: right;
              padding: 0 20px;
          }
          &.-contact {
            border-left: 1px solid $color-medium;
            padding-left: 20px;
            padding-right: 0;
            line-height: 40px;
            &:before {
              margin-right: 0;
            }
          }  
        }
        > .action {
          position: relative;
          font-weight: 500;
          color: $color-zero;
          list-style: none;
          text-decoration: none;
          cursor: pointer;
          @include mq(lg) {
            color: $color-medium;
            &:after {
              content: "";
              height: 2px;
              width: 100%;
              background-color: $color-primary-medium;
              position: absolute;
              bottom: -5px;
              left: 0;
              transform: scaleX(0);
              transition: transform 200ms linear;
              transform-origin: center;
            }
            &:hover:after {
              transform: scale(1);
            }
          }
        }
      }
  }
}
