// PRINCIPAIS CORES
$color-primary-medium: #1471c3; // azul logo
$color-primary-dark: #024b8e; // azul escuro
$color-secondy: #FFA600; // laranja logo

// CORES DE MENSAGENS/ALERTAS
$color-msg-promo: #7acb49; // msg promo verde
$color-msg-error: #e33c4f; // msg erro vermelho

// CORES BÁSICAS E TONS DE CINZA
$color-zero: #FFF; // branco
$color-light: #F7F7F7; // cinza clarinho
$color-medium: #7D7D7D; // texto cinza médio
$color-dark: #010000; // texto escuro
